@charset "utf-8";
.header_überschrift {
	background-color: #F00;
}
.appheader {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	background-color: #F00;
}

#footerpage2 {
	background-color: #930;
	color: #3F3;
	margin-bottom:  15px;
}

#headerpage1 {
	background-color: #C00;
	display: block;
	color: #3C6;
}